
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{
    List<KhoaHocHienThi> listKhoaHoc = new List<KhoaHocHienThi>();
    if (ViewBag.ListKhoaHoc != null)
    {
        listKhoaHoc = ViewBag.ListKhoaHoc;
    }
    int idKhoaHocSelected = ViewBag.IdKhoaHocSelected;
}
@section css{
    @Styles.Render("~/public/css/registerCourse")
}
@section scripts{
    @Scripts.Render("~/public/js/registerCourse")
}
@using Resources;
@using TrungTamTinHoc.Areas.Home.Models.Schema
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center no-line">@UserLang.RegisterCourse</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Search Category Start-->
<div class="search-category mb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form id="form-register-course" action="@Url.RouteUrl("homeRegisterCourse")" method="post">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="KhoaHoc" class="white-label">@UserLang.Course <span class="text-required">*</span></label>
                                    <select name="KhoaHoc" id="KhoaHoc" class="mb-5" tabindex="1">
                                        @if(listKhoaHoc != null)
                                        {
                                            if (idKhoaHocSelected != -1)
                                            {
                                                foreach (KhoaHocHienThi kh in listKhoaHoc)
                                                {
                                                    <option value="@kh.IDKhoaHoc" @(kh.IDKhoaHoc==idKhoaHocSelected ? "selected='selected'" : "disabled='disabled'")>@Html.Raw(kh.TenKhoaHoc)</option>
                                                }
                                            }
                                            else
                                            {
                                                foreach (KhoaHocHienThi kh in listKhoaHoc)
                                                {
                                                    <option value="@kh.IDKhoaHoc">@Html.Raw(kh.TenKhoaHoc)</option>
                                                }
                                            }

                                        }

                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="HoTenBe" class="white-label">@UserLang.FullnameOfChild <span class="text-required">*</span></label>
                                    <input type="text" name="HoTenBe" id="HoTenBe" class="required mb-5" maxlength="50" tabindex="2" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="NgaySinh" class="white-label">@UserLang.DateOfBirth <span class="text-required">*</span></label>
                                    <div class="input-group datetimepicker mb-5">
                                        <input type="tel" class="date required" id="NgaySinh" name="NgaySinh" maxlength="8" tabindex="3" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="HoTenBan" class="white-label">@UserLang.Yourname <span class="text-required">*</span></label>
                                    <input type="text" name="HoTenBan" id="HoTenBan" class="required mb-5" maxlength="50" tabindex="4" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="NgheNghiep" class="white-label">@UserLang.Job <span class="text-required">*</span></label>
                                    <input type="text" name="NgheNghiep" id="NgheNghiep" class="required mb-5" maxlength="100" tabindex="5" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="SoDienThoai" class="white-label">@UserLang.PhoneNumber <span class="text-required">*</span></label>
                                    <input type="tel" name="SoDienThoai" id="SoDienThoai" class="required numeric mb-5" maxlength="15" tabindex="6" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="Email" class="white-label">Email <span class="text-required">*</span></label>
                                    <input type="email" name="Email" id="Email" class="required email mb-5" maxlength="255" tabindex="7" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="DiaChi" class="white-label">@UserLang.Address <span class="text-required">*</span></label>
                                    <input type="text" name="DiaChi" id="DiaChi" class="required" maxlength="255" tabindex="8" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="GhiChu" class="white-label">@UserLang.Note</label>
                                    <input type="text" name="GhiChu" id="GhiChu" class="" maxlength="255" tabindex="9" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button type="button" id="btn-register-course" tabindex="10">@UserLang.Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Search Category-->
